.detail-main{
    
    /* border: 1px solid; */
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    gap: 1vh;

}
.div-photo{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.detail{
    width: 100%;
    height: 100vh;
    /* border: 1px solid; */
    padding-inline: 15px;
}

.main-img{
    /* width: 100%; */
    /* height: 100vh; */
}
.more-img{
    width: 12%;
    height: 85vh;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.imgs{
    width: 100%;
    height: 17vh;
    /* border: 1px solid; */
}

.heading{
    width: 100%;
    height: 50vh;
    /* border: 1px solid; */
}
.detail-head{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2px;
    /* font-family: myFont2; */
}
.detail-p{
    margin-top: 3vh;
    font-size: 22px;
    letter-spacing: 2px;
}
.br2{
    width: 100%;
    margin-top: 1vh;
    /* margin-: 4vh; */
    border: 0.3px solid rgb(241,241,241);
}

.qty-detail{
    width: 12%;
    margin-top: 2vh;
    height: 5vh;
    border: 1px solid;
    display: flex;
}

.detail-p2{
    margin-top: 3vh;
    font-size: 16px;
    letter-spacing: 2px;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn p{
    font-size: 15px;
    font-weight: 600;
}
.btn:hover{
    background-color: #e8e8e1;
}
.detail-size{
    width: 8%;
    height: 5vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.sz{
    border: 2px solid;
}
.desc{
    width: 100%;
    margin-top: 5vh;
    /* height: 40vh; */
    position: relative;
    border: 1px solid;
    padding-inline: 15px;
}
.detail-arrow{
    position: relative;
    cursor: pointer;
    left: 17em;
}
.matter{
    transition: transform 0.5s;
}