.detail-main{
    
    /* border: 1px solid; */
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    display: flex;
    gap: 1vh;

}
.div-photo{
    width: 100%;
    /* border: 1px solid; */
    display: flex;
    justify-content: space-between;
}

.detail{
    width: 100%;
    height: 100vh;
    /* border: 1px solid; */
    padding-inline: 15px;
}

.main-img{
    /* width: 100%; */
    /* height: 100vh; */
}
.more-img{
    width: 12%;
    height: 85vh;
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
.imgs{
    width: 100%;
    cursor: pointer;
    height: 17vh;
    /* border: 1px solid; */
}

.heading{
    width: 100%;
    height: 50vh;
    /* border: 1px solid; */
}
.detail-head{
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 2px;
    /* font-family: myFont2; */
}
.detail-p{
    margin-top: 3vh;
    font-size: 22px;
    letter-spacing: 2px;
}
.br2{
    width: 100%;
    margin-top: 1vh;
    /* margin-: 4vh; */
    border: 0.3px solid rgb(241,241,241);
}
.br3{
    width: 99.9%;
    margin-block: 3vh;
    /* margin-: 4vh; */
    border: 0.3px solid rgb(241,241,241);
}

.qty-detail{
    width: 12%;
    margin-top: 2vh;
    height: 5vh;
    border: 1px solid;
    display: flex;
}

.detail-p2{
    margin-top: 3vh;
    font-size: 16px;
    letter-spacing: 2px;
}

.btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn p{
    font-size: 15px;
    font-weight: 600;
}
.btn:hover{
    background-color: #e8e8e1;
}
.detail-size{
    width: 8%;
    height: 5vh;
    margin-bottom: 5vh;
    border: 1px solid;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}
.sz{
    border: 2px solid;
}
.desc{
    width: 95.5%;
    /* height: 40vh; */
    position: relative;
    border: 1px solid #e8e8e1;
    padding-inline: 15px;
}
.detail-arrow{
    position: absolute;
    cursor: pointer;
    right: 12px;
}
.matter{
    transition: transform 0.5s;
}

.td{
    width: 112.405px;
    padding: 6px 8px;
    border: 1px solid;
    font-style: italic;
    font-weight: 600;
}
.td2{
    width: 440.72px;
    padding: 6px 8px;
    border: 1px solid;
    font-style: italic;
}
.detail-btn{
    width: 100%;
    height: 7vh;
    margin-block: 1vh;
    background-color: black;
    color: white;
    font-family: myFont;
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}
.detail-btn2{
    width: 100%;
    height: 7vh;
    margin-block: 1vh;
    background-color: white;
    font-family: myFont;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: red;
    border: 1px solid black;
    cursor: pointer;
}
.detail-btn:hover{
    background-image: linear-gradient(90deg,transparent,hsla(0,0%,100%,.25),transparent);
    content: "";
}
.heart{
    font-size: 25px;
    color: black;
}
.recent-div{
    width: 100%;
    height: 100vh;
    /* border: 1px solid; */
}
.p-head{
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
}
.detail-items{
    padding: 5vh;
    display: flex;
    align-items: center;
    gap: 4vh;
}
.manu-detail{
    height: 31vh;
    margin-inline: 12vh;
    border: 1px solid #e8e8e1;
    border-radius: 5px;
}
.tab{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    background-color: #e8e8e1;
}
.tab1{
    width: 100%;
    padding-left: 1.5vh;
    height: 5vh;
    display: flex;
    align-items: center;
    /* border: 1px solid; */
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.tab2{
    width: 100%;
    opacity: 1;
    /* border: 1px solid; */
}
.active{
    opacity: 0;
}
.subtab{
    padding-left: 1.5vh;
    margin-block:3vh;
 
    font-size: 18px;
}

.bg_change{
    background-color: #c2c2bc;
}
.tab1:hover{
    background-color: #c2c2bc;
}